footer {
	width: 100%;
	background: rgba(63, 70, 56, 1);
	border-top: 1px solid #bbb;
	padding: 100px 0px;
	overflow: hidden;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		address {
			float: left;
			width: 100%;
			font: 14px/1.3 'arial';
			color: rgba(252, 247, 236, 1);
			margin-bottom: 20px;
			margin-top: 20px;
			//border-top: 1px solid #888;
			padding-top: 20px;
			text-align: center;
		}
		p {
			text-align: center;
			font: 12px/1 'arial';
			color: rgba(252, 247, 236, 1);
			//letter-spacing: 2px;
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		width: 100%;
		border-top: 1px solid #bbb;
		padding: 100px 0px;
		.inner {
			width: 100%;
			position: relative;
			address {
				float: left;
				width: 100%;
				font: 14px/1.3 'Lora';
				color: black;
				margin-bottom: 20px;
				//margin-top: 20px;
				//border-top: 1px solid #888;
				padding-top: 20px;
				text-align: center;
			}
			p {
				text-align: center;
				font: 12px/1 'Lora';
				color: #000;
				//letter-spacing: 2px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	footer {
		width: 100%;
		border-top: 1px solid #bbb;
		padding: 100px 0px;
		.inner {
			width: 100%;
			position: relative;
			address {
				float: left;
				width: 100%;
				font: 14px/1.3 'Lora';
				color: black;
				margin-bottom: 20px;
				margin-top: 20px;
				//border-top: 1px solid #888;
				padding-top: 20px;
				text-align: center;
			}
			p {
				text-align: center;
				font: 12px/1 'Lora';
				color: #000;
				//letter-spacing: 2px;
			}
		}
	}
}
