header {
	width: 100%;
	z-index: 5;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 30px;
	overflow: hidden;
	> .innerH {
		width: 100%;
		margin: 5px auto;
		padding-bottom: 10px;
		> h1 {
			position: absolute;
			left: 50px;
			bottom: 15px;
			margin: 0 20px;
			a {
				letter-spacing: -5px;
				font: normal 40px 'Libre Caslon Text', serif;
				color: #fff;
			}
		}
		#gnb {
			position: absolute;
			bottom: 0px;
			right: 0px;
			color: #fff;
			> li {
				float: left;
				position: relative;
				width: 120px;
				height: 50px;

				> a {
					display: block;
					width: 100%;
					height: 100%;
					font: normal 20px 'Libre Caslon Text', serif;
					color: #fff;

					text-align: center;
					&:hover {
						color: #bbb;
					}
				}
			}
		}

		.fa-bars-staggered {
			font-size: 30px;
			position: absolute;
			bottom: 44px;
			right: 40px;
			display: none;
			color: #fff;
			cursor: pointer;
		}
	}
	&.main {
		width: 100%;
		height: 80px;
		position: absolute;
		padding-bottom: 90px;
		top: 0;
		left: 0;
		display: flex;
		// opacity: 0;

		.innerH {
			width: 100%;
			margin: 5px auto;
			padding-bottom: 0px;
			h1 {
				position: absolute;
				left: 50px;
				bottom: 15px;
				margin: 0 20px;
				a {
					letter-spacing: -5px;
					font: normal 40px 'Libre Caslon Text', serif;
					color: #fff;
				}
			}
			> #gnb {
				right: 5vw;
				> li {
					> a {
						display: block;
						color: #fff;
						text-align: center;
						font: normal 20px 'Libre Caslon Text', serif;
						&:hover {
							color: #8b8b8c;
						}
					}
				}
			}
			.fa-bars-staggered {
				font-size: 30px;
				position: absolute;
				bottom: 44px;
				right: 40px;
				display: none;
				color: #fff;
				cursor: pointer;
			}
		}
	}
	&.sub {
		background: #111;
		width: 100%;
		height: 80px;
		position: absolute;
		padding-bottom: 90px;
		top: 0;
		left: 0;

		> .innerH {
			width: 100%;
			margin: 5px auto;
			padding-bottom: 0px;
			> h1 {
				position: absolute;
				left: 50px;
				bottom: 15px;
				margin: 0 20px;
				> a {
					letter-spacing: -5px;
					font: normal 40px 'Libre Caslon Text', serif;
					color: #fff;
				}
			}
			> #gnb {
				right: 5vw;
				> li {
					> a {
						display: block;
						color: #fff;
						text-align: center;
						font: normal 20px 'Libre Caslon Text', serif;
						&:hover {
							color: #ddd;
						}
					}
				}
			}
			.fa-bars-staggered {
				font-size: 30px;
				position: absolute;
				bottom: 44px;
				right: 40px;
				display: none;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		width: 100%;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 30px;

		> .innerH {
			width: 100%;
			margin: 5px auto;
			padding-bottom: 10px;
			> h1 {
				position: absolute;
				left: 50px;
				bottom: 15px;
				margin: 0px;
				> a {
					letter-spacing: -5px;
					font: normal 40px 'Libre Caslon Text', serif;
					color: #fff;
				}
			}
			> #gnb {
				display: none;

				> li {
					> a {
						width: 100%;
						height: 100%;
					}
				}
			}

			.fa-bars-staggered {
				font-size: 30px;
				position: absolute;
				bottom: 34px;
				right: 40px;
				display: block;
				color: #fff;
				cursor: pointer;
			}
		}
		&.main {
			width: 100%;
			height: 80px;
			position: absolute;
			padding-bottom: 90px;
			top: 0;
			left: 0;
			display: flex;

			> .innerH {
				width: 100%;
				margin: 5px auto;
				padding-bottom: 0px;
				> h1 {
					position: absolute;
					left: 50px;
					bottom: 15px;
					margin: 0 20px;

					> a {
						letter-spacing: -5px;
						font: normal 40px 'Libre Caslon Text', serif;
						color: #fff;
					}
				}
				> #gnb {
					right: 5vw;
					> li {
						> a {
							display: block;
						}
					}
				}
				.fa-bars-staggered {
					font-size: 30px;
					position: absolute;
					bottom: 24px;
					right: 40px;
					display: block;
					color: #fff;
					cursor: pointer;
					z-index: 100;
				}
			}
		}
		&.sub {
			background: #111;
			width: 100%;
			height: 80px;
			position: absolute;
			padding-bottom: 90px;
			top: 0;
			left: 0;
			z-index: 2;

			> .innerH {
				width: 100%;
				margin: 5px auto;
				padding-bottom: 0px;
				> h1 {
					position: absolute;
					left: 50px;
					bottom: 15px;
					margin: 0 20px;
					> a {
						letter-spacing: -5px;
						font: normal 40px 'Libre Caslon Text', serif;
						color: #fff;
					}
				}
				> #gnb {
					right: 5vw;
					> li {
						> a {
							display: block;
							color: #fff;
							text-align: center;
							font: normal 20px 'Libre Caslon Text', serif;
							&:hover {
								color: #ddd;
							}
						}
					}
				}
				.fa-bars-staggered {
					font-size: 30px;
					position: absolute;
					bottom: 24px;
					right: 40px;
					display: block;
					color: #fff;
					cursor: pointer;
					z-index: 1;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	header {
		width: 100%;
		> .innerH {
			width: 100%;
			margin: 5px auto;
			padding-bottom: 10px;
			> h1 {
				position: absolute;
				left: 50px;
				bottom: 15px;
				margin: 0;
				> a {
					letter-spacing: -5px;
					font: normal 30px 'Libre Caslon Text', serif;
					color: #fff;
				}
			}
			> #gnb {
				display: none;
				position: absolute;
				bottom: 0px;
				right: 0px;
				color: #fff;
				font: normal 20px 'Libre Caslon Text', serif;
				> li {
					float: left;
					position: relative;
					width: 120px;
					height: 50px;

					> a {
						display: block;
						width: 100%;
						height: 100%;
						font: normal 14px/50px 'arial';
						color: #fff;

						text-align: center;
						&:hover {
							color: #bbb;
						}
					}
				}
			}

			.fa-bars-staggered {
				font-size: 25px;
				position: absolute;
				bottom: 44px;
				right: 40px;
				display: block;
				color: #fff;
				cursor: pointer;
			}
		}
		&.main {
			width: 100%;
			height: 80px;
			position: absolute;
			padding-bottom: 90px;
			top: 0;
			left: 0;
			display: flex;
			// opacity: 0;

			> .innerH {
				width: 100%;
				margin: 5px auto;
				padding-bottom: 0px;
				> h1 {
					margin: 0px;
					> a {
						letter-spacing: -5rem;
						font: normal 40px 'Libre Caslon Text', serif;
						color: #fff;
						letter-spacing: -5px;
					}
				}
				> #gnb {
					right: 5vw;
					> li {
						> a {
							display: block;
							color: #fff;
							text-align: center;
							font: normal 20px 'Libre Caslon Text', serif;
							&:hover {
								color: #8b8b8c;
							}
						}
					}
				}
				.fa-bars-staggered {
					color: #fff;
					display: block;
					font-size: 25px;
					position: absolute;
					bottom: 30px;
					right: 40px;
				}
			}
		}
		&.sub {
			background: transparent;
			width: 100%;
			height: 80px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			background: #111;

			> .innerH {
				width: 100%;
				height: 100%;
				h1 {
					a {
						font: normal 40px/1 ' Libre Caslon Text ', serif;
						color: #fff;
						letter-spacing: 5px;
						margin: 0;
					}
				}
				.fa-bars-staggered {
					display: block;
					font-size: 20px;
					position: absolute;
					bottom: 24px;
					right: 20px;
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}
}
