@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
fieldset {
	border: none;
}
.h {
	position: absolute;
	top: -999999px;
	opacity: 0;
}
table {
	border-collapse: collapse;
}
input[type='checkbox'],
input[type='radio'] {
	margin-left: 5px;
	margin-right: 20px;
}
