.joy {
	width: 100%;
	background: url(/image/joy1.png);
	opacity: 80%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 70vh;
	overflow: hidden;
	position: relative;
	flex-wrap: wrap;
	display: flex;
	//justify-content: center;
	align-content: center;
	.quote {
		width: 100%;
		color: rgba(241, 223, 199, 1);
		font: normal 90px/1.3 'Lora';
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-content: center;
		z-index: 100;
	}
	h2 {
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-content: center;
		color: rgba(241, 223, 199, 1);
		font: 40px/1.3 'Lora';
		z-index: 100;
		text-align: center;
		padding-bottom: 20px;
	}
	p {
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-content: center;
		color: rgba(241, 223, 199, 1);
		font: 20px/1.3 'Lora';
		z-index: 100;
		text-align: center;
		padding-bottom: 20px;
	}
}
