.About {
	background: #fff;

	h2 {
		font: 40px/1 'Libre Caslon Text', serif;
		margin-bottom: 20px;
		text-align: center;
	}
	h3 {
		font: 15px/1.4 'Libre Caslon Text', serif;
		text-align: center;
		margin-bottom: 50px;
	}
	.icon {
		width: 100%;
		margin-bottom: 80px;
		img {
			width: 100%;
		}
	}

	> .inner {
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: calc(100% / 4);
			float: left;
			padding: 10px;
			.inner {
				width: 100%;

				//background: #fff;
				.pic {
					width: 100%;
					height: 300px;
					background: #fff;
					transition: 0.5s;
					display: flex;
					filter: grayscale(0%);
					&:hover .contents {
						//filter: saturate(1.1);
						opacity: 0.7;
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.contents {
						z-index: 100;
						//visibility: hidden;
						width: 100%;
						height: 300px;
						position: absolute;
						opacity: 0;
						background: #8b8b8c;
						color: #111;
						transform: translateX(-5%) translateY(5%);
						transition: all 1.3s;
						text-align: center;
						padding: 130px 0;
						font: bold 17px 'Libre Caslon Text', serif;
					}
				}
				h3 {
					//background: #000;
					//border-left: 2px solid rgba(68, 46, 24, 1);
					padding: 20px;
					font: bold 20px 'Libre Caslon Text', serif;
					padding-left: 20px;
					color: #111;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.About {
		h2 {
			font: 40px/1 'Libre Caslon Text', serif;
			margin-bottom: 20px;
			text-align: center;
		}
		h3 {
			font: 15px/1.4 'Libre Caslon Text', serif;
			text-align: center;
			margin-bottom: 50px;
		}
		.icon {
			width: 100%;
			margin-bottom: 80px;
			img {
				width: 100%;
			}
		}
		> .inner {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: calc(100% / 2);
				float: left;
				padding: 10px;
				.inner {
					width: 100%;
					background: #fff;
					.pic {
						width: 100%;
						height: 400px;
						background: #fff;
						transition: 0.5s;
						filter: sepia(40%);
						&:hover {
							filter: saturate(1.1);
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					h3 {
						background: #000;
						padding: 20px;
						font: 20px 'Lora';
						padding-left: 20px;
						color: #fff;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.About {
		h2 {
			font: 40px/1 'Libre Caslon Text', serif;
			margin-bottom: 20px;
			text-align: center;
			margin-top: 60px;
		}
		h3 {
			font: 15px/1.4 'Libre Caslon Text', serif;
			text-align: center;
			margin-bottom: 50px;
		}
		.icon {
			width: 100%;
			margin-bottom: 80px;
			img {
				width: 100%;
			}
		}
		> .inner {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: 100%;

				float: left;
				padding: 10px;
				.inner {
					width: 100%;
					background: #fff;
					.pic {
						width: 100%;
						height: 400px;
						background: #fff;
						transition: 0.5s;
						filter: sepia(40%);
						&:hover {
							filter: saturate(1.1);
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					h3 {
						background: #000;
						padding: 20px;
						font: 20px 'Lora';
						padding-left: 20px;
						color: #fff;
					}
				}
			}
		}
	}
}
