.Join {
	background: rgba(252, 247, 236, 1);

	> .inner {
		margin-right: 100px;
		table {
			width: 80%;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			margin-bottom: 50px;
			margin-top: 10px;
			text-align: left;
			font-family: 'Libre Caslon Text', serif;
			th {
				width: 20%;
				border: none;
				border-bottom: 1px solid #bbb;
				padding: 15px 30px;
				text-align: left;

				&:last-child {
					text-align: center;
					width: 20%;
					input[type='submit'] {
						width: 80%;
						height: 60px;
						margin: 10px;
						font: bold 18px/40px 'Libre Baskerville', serif;
						color: rgba(241, 223, 199, 1);
						background: rgba(68, 46, 24, 1);
						cursor: pointer;
					}
				}
			}
			td {
				width: 80%;
				border: none;
				border-bottom: 1px solid #ddd;
				padding: 15px 25px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 100%;
					background: rgba(0, 0, 0, 0.03);
					padding: 10px;
					border: 1px solid #fff;
					resize: none;
					// background: rgb(232, 238, 238);
				}
				span.err {
					font: 12px/1 'Libre Caslon Text', serif;
					color: red;
					margin-left: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Join {
		> .inner {
			margin-left: 100px;
			table {
				width: 500px;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				margin-bottom: 50px;
				margin-top: 10px;
				text-align: left;
				th {
					width: 200px;
					border: none;
					border-bottom: 1px solid #bbb;
					padding: 15px 30px;
					text-align: left;

					&:last-child {
						text-align: center;
						width: 20%;
						input[type='submit'] {
							width: 80%;
							height: 60px;
							margin: 10px;
							font: bold 18px/40px 'Libre Caslon Text', serif;
							color: rgba(241, 223, 199, 1);
							background: rgba(68, 46, 24, 1);
							cursor: pointer;
						}
					}
				}
				td {
					width: 800px;
					border: none;
					border-bottom: 1px solid #ddd;
					padding: 15px 25px;

					input[type='text'],
					input[type='password'] {
						width: 100%;
						background: rgba(0, 0, 0, 0.03);
						padding: 10px;
						border: 1px solid #fff;
					}
					span.err {
						font: 12px/1 'Libre Caslon Text', serif;
						color: red;
						width: 100%;
						margin-left: 0px;
						display: block;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.Join {
		> .inner {
			margin-left: 10px;
			table {
				width: 100%;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				margin-bottom: 50px;
				margin-top: 10px;
				text-align: left;
				th {
					width: 100px;
					border: none;
					border-bottom: 1px solid #ddd;
					padding: 15px 30px;
					text-align: left;

					&:last-child {
						text-align: center;
						width: 200px;
						input[type='submit'] {
							width: 80%;
							height: 60px;
							margin: 10px;
							font: bold 18px/40px 'Libre Caslon Text', serif;
							color: rgba(241, 223, 199, 1);
							background: rgba(68, 46, 24, 1);
							cursor: pointer;
						}
					}
				}
				td {
					width: 350px;
					border: none;
					border-bottom: 1px solid #ddd;
					padding: 15px 25px;

					input[type='text'],
					input[type='password'] {
						width: 100%;
						background: rgba(0, 0, 0, 0.03);
						padding: 10px;
						border: 1px solid #fff;
					}
					span.err {
						font: 12px/2 'Lora';
						color: red;
						width: 100%;
						margin-left: 0px;
						display: block;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
