#map {
	width: 100%;
	height: 500px;
	background: #000;
	border: solid 3px #000;
	// filter: saturate(0%) invert(0%) brightness(50%);
	// transition: filter 0.5s;
	// &:hover {
	// 	filter: saturate(100%);
	// }
}
.traffic {
	float: right;
	margin-bottom: 100px;

	button {
		float: right;
		display: block;
		width: 200px;
		height: 40px;
		background: #000;
		font: bold 12px/40px '맑은 고딕';
		color: #fff;
		text-align: center;
		border: 1px solid #000;
		margin-left: 20px;
		margin-top: 20px;
		cursor: pointer;
		//반응형으로 버튼 모양 만들기 수월함
		// display: flex;
		// justify-content: space-between;
		// flex-wrap : wrap;
		// align-content: flex-start;
		&:nth-of-type(2) {
			background: #fff;
			color: #000;
		}
	}
}

@media screen and (max-width: $mobile) {
	#map {
		width: 100%;
		height: 500px;
		background: #000;
		border: solid 3px #000;
	}
	.traffic {
		width: 100%;
		float: right;
		margin-left: 20px;
		button {
			display: inline-block;
			width: 100%;
			height: 120%;
			background: #000;
			font: bold 12px/40px '맑은 고딕';
			color: #fff;
			text-align: center;
			border: 1px solid #000;
			&:nth-of-type(2) {
				background: #fff;
				color: #000;
			}
		}
	}
}
