.Youtube {
	background: rgba(252, 247, 236, 1);

	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	article {
		float: left;
		width: 30%;
		height: 350px;
		//border: 1px solid #fff;
		margin: 0 15px;
		margin-top: 80px;
		.pic {
			display: block;
			width: 100%;
			height: 57%;
			cursor: pointer;
			img {
				width: 100%;
				height: 100%;
				//border-radius: 5%;
				object-fit: cover;
			}
		}

		.txt {
			width: 100%;
			height: 20%;
			padding: 20px;
			h3 {
				font: bold 20px/1.2 'Libre Baskerville', serif;
				color: #000;
				margin-bottom: 15px;
			}
			p {
				font: 14px/1.4 'Libre Caslon Text', serif;
				color: #000;
				margin-bottom: 20px;
			}
			span {
				font: bold 16px/1 'Libre Baskerville', serif;
				float: right;
				color: #000;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Youtube {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		article {
			float: left;
			width: 40%;
			height: 350px;
			//border: 1px solid #fff;
			margin: 0 15px;
			margin-top: 80px;
			.pic {
				display: block;
				width: 100%;
				height: 60%;
				cursor: pointer;
				img {
					width: 100%;
					height: 100%;
					border-radius: 5%;
					object-fit: cover;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Youtube {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		article {
			float: left;
			width: 100%;
			height: 350px;
			//border: 1px solid #fff;
			margin: 0 15px;
			margin-top: 80px;
			.pic {
				display: block;
				width: 100%;
				height: 60%;
				cursor: pointer;
				img {
					width: 100%;
					height: 100%;
					border-radius: 5%;
					object-fit: cover;
				}
			}
		}
	}
}
